body{
    margin: 0;
    padding: 0;
    background:rgb(255, 255, 255);
    font-family: 'Redressed', cursive;
    font-weight: bold;
    overflow: visible; 
    box-sizing: border-box;
   
    
}
ul{
    list-style-type: none;
}
.total{
    position: relative;
}
.copac{
    position: fixed;
    background:url("/free-png-bbplt-f350x484.png");
    background-repeat: no-repeat;
    width: 400px;
    right: 0;
    bottom: -10%;  
}
.footer p{
    position: fixed;
    bottom: 0;
    margin-left: 43%;
}
.box{
    width:80%; 
    /* centreaza cantitatea de 80%  pe mijloc */
    margin: 0 auto;
    overflow: auto;
    
}
header{
    background: #bfda69;
    padding: 10px;
}
.sigla{
    float: left;
    max-width: 13vw;
    min-width: 7vw;
    max-height: 13vh;
    min-width: 7vw;
}
/* clearfix este un CSS trick care rezolva un bug atunci cand
2 elemente float sunt blocate una langa alta,cand elementele
sunt aliniate asa parintele adica header sfarsete cu inaltimea 
0 si astfel se poate strica layoutul,solutia este mai jos*/
/* after insearea ceva dupa continut adica dupa header */
header::after{
    content: '';
    display: table;
    /* display face ca elementele sa se comporta ca <table> */
    clear:both;
    /* clear nu permite float nici la dreapta nici la stanga */
}
nav{
    float: right;
}
nav ul{
    /* scot orice margine din top in cazul asta */
    margin: 0;
    padding: 0;
    list-style:none;
    
}
nav li{
    /* diferenta dintre inline si inline-block este faptul a doua ne perminte sa setam latimea 
    si inaltimea elementelor */
    display: inline-block;
    margin-left: 60px;
    padding-top: 20px;
    position: relative;
}
nav a{
    text-decoration: none;
    font-family: 'Redressed', cursive;
    font-size: 30px;
    color: rgb(84, 134, 65);

}
nav a:hover{
    color:#000;
}

nav a::before{
    content: '';
    height: 5px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    width: 0;
    /* ease-in-out specifies a transition effect with a slow start and end ,si all se aplica la toate proprietatile schimbate*/
    transition: all ease-in-out 500ms;
}
nav a:hover:before{
    width: 100%;
}

legend{
    font-size: 45px;
    color:#a39898;
    user-select: none;
}
fieldset {
    border: 6px dashed #a39898;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 430px;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    /* asa o sa le aranjeze una sub alta sub forma de coloana */
    flex-direction: column;
    /* cu combinatia asta asta aranjam central elementele */
    align-items: center;
    justify-content: center;
}
.text-case{
    width: 400px;
    text-align: justify;
}
.news{
    height: 400px;
    width: 400px;
    overflow: auto;
  
}
.news ul{
    position: relative;
    width: 95%;
    top: 10%;
    left: -5%;
   
    
    /* font-family: 'Redressed', cursive; */
}
.news-ul li{
    padding: 5px;
   
}
.news-element{
    display: grid;
    grid-template-columns: 80% auto;
    text-align: center;
}
.elm1{
    background-color: #dfd5d5;
    transition: 0.50s;
}
.elm1:hover{
    background-color: #bfda69;
}
.elm2{
    width: auto;
    height: auto;
 
}
.elm2 img{
    width: 100%;
    height: 100%;
}



.column{
   float: left;
   margin: 0;
   padding: 0;
}
/* -----------CSS-----------Pagina Fructe#Legume---------------- */
.item1{
    grid-area: header;
    min-height: 100px;
    max-height: 200px;

    font-family: 'Redressed', cursive;
  
}
h3{
    position: relative;
    top: -20%;
    margin-bottom: -15px;
    text-align: center;
    font-size: 33px;
    
}
h3:hover{
    color: rgb(7, 7, 7);
}


.item3 { grid-area: main; }
.item4 { grid-area: footer; }
.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header '
    'header header header header header '
    'main main main main main '
    'main main main main main '
    'main main main main main '
    'main main main main main '
    'main main main main main '
    'main main main main main '
    'main main main main main '
    'main main main main main '
    'main main main main main '
    'main main main main main '
    'footer footer footer footer footer ';
    grid-gap: 10px;
    background-color: #413b3b;
    min-height: 100vh;    
}
.item1{
    background-color: #bfda69;
    padding: 20px 0;
}
.item4 {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 10px 0;
  
 
}
.item3{
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
  
     
}

.container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 5vh;
    
    width: 80%;
    margin: 0   auto;
  
   
  
}
.grid-item{
    display: grid;
    grid-template-rows: 85% 15%;
    width: 350px;
    height: 400px;
    padding: 0;
    border:5px solid  #687c25;
    margin-left: 5%;
    margin-top: 2em;
    margin-bottom: 5px;
}
.grid-item img{

    width: 100%;
    height: 100%;   
}
.grid-item input{

    font-size: 20px;
    margin-left: 4px;
    font-family: 'Redressed', cursive;
    border-radius: 30px;
    border: none;
}
.cos{
    position: relative;
    display: flex;
    /* asa o sa le aranjeze una sub alta sub forma de linie */
    flex-direction: row;
    /* cu combinatia asta asta aranjam central elementele */
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.925);
    right: -10%;
    width: 60px;
    height: 50px;
    border: none;
    border-radius: 20px;
    right: -3%;
    font-size: 15px;
}
.icon{
    margin-left: 5px;
}
.price{
    position:relative; 
    left:-5%;
    font-size: 20px;
}
.input__box{
    
     border-top: 2px solid #687c25;
     background-color: #d7dd9d;
      /* cu display flex asa putem aranja obiecte vertical si orizontal */
      display: flex;
      /* asa o sa le aranjeze una sub alta sub forma de coloana */
      flex-direction: row;
      /* cu combinatia asta asta aranjam central elementele */
      align-items: center;
      justify-content: center;
      
}

.input__b{
    width: 40px;
    height: 40px;
    background-color: #bfda69;
}
.input__t{
    width: 60px;
    height: 40px;
    text-align: center;
    user-select: none;
    
}

main{
    position: relative;
    height: 100%;

}
.image{
    position: relative;
    height: 100%;
}
.image__img{
    
    display: block;
    width: 100%;
    height: 100%;
}
.image__overlay{
    position: absolute;
    left:0 ;
    top: 0;
    width: 100%;
    height: 100%;
    color: seashell;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Redressed', cursive;
    /* cu display flex asa putem aranja obiecte vertical si orizontal */
    display: flex;
    /* asa o sa le aranjeze una sub alta sub forma de coloana */
    flex-direction: column;
    /* cu combinatia asta asta aranjam central elementele */
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.8s;
    overflow: auto;
}
/* practic zicem ca ne referim la toti copii directi ai image__overlay adica title si descriptia */
.image__overlay > *{
   transform: translateY(200px);
   transition: transform 0.55s;
}

.image__overlay:hover{
    opacity: 1;
}
.image__overlay:hover > *{
    transform: translateY(250px);
}

.image__title{
    /* em este calculat ca fiind 2x defalt font-size */
    font-size: 2em; 
    font-weight: bold;
}
.image__description{
    font-size: 1.2em;
    text-align: justify;
    width: 90%;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border: 2px solid rgb(25, 25, 29);
    /* The box-shadow CSS property adds shadow effects around an element's frame. */
    /*  box shadow is described by X and Y offsets relative to the element, blur and spread radius, and color. */
    /* inset pune toate umbrele din exterior chiar si cele trasnparent in interior */
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,#1f7792,rgb(67, 56, 107));
    border-radius: 10px;
}
.logo{
  position: absolute;   
  min-width: 10vw;
  max-width: 80vw;
  min-height: 60px;
  max-height: 120px;
  transform: translate(20px,-70px);

}

/* nav bar css aceasta este bara unde sunt puse elementele si marimea acesteia plus culori,centrari,margini,radius*/
.category-bar{
    
    height:90px;
    width: 600px;
    background-color: rgb(82, 155, 53);
    text-align: center;
    /* asta centreaza asemeni bari */
    margin: 5px auto;
    border-radius: 10px;
  
}
/* se refera la tot blocul cu toate elementele care sunt puse in line folosind inline-flex care le aranjeaza in linie dar ne permite sa accesam si w si h sunt mai flexibile */
/* mai setam ca seria de butoane sa fie 100 pe inaltime si latime si facem o miscare a elementelor in */
.category-bar ul{
    position: relative;
    width: 100%;
    height: 100%;
    /*It makes the flex container display inline!*/
    display: inline-flex;
    top: -16px;
    margin-left: -4%;
    
}
/* afecteaza doar pozitionare in bara a liniilor Fructe ,Legume ,CoÈ™ cat si lungimea linilor liste */
.dropdown {
   
    position: relative;
    width: 170px;
    margin: 10px 5% 0 0;
    z-index: 1;
  }
  /* afecteaza in explicit butoanele din interior ,punem bordura punctata dupa ce mai sus am modificat si extins forma butonului  */
.dropbtn{
    height: 100%;
    width: 100%;
    border:none;
    font-size: 30px;
    outline: none;
    background-color: rgb(82, 155, 53);
    border-top: 5px dotted black;
    text-align: center;
    font-family: 'Redressed', cursive;
    font-style: bold;
}
/* cand ducem pe elementele cu tagul dropdown buton cu class-ul asociat isi schimba culoarea */
.dropdown:hover .dropbtn{
    border-top: 5px dotted #bfda69;
    color: #bfda69;
    text-decoration: none;
    background-color: rgba(100, 207, 29, 0.726);
}
/* facem continutul nevizibil si facem niste setari generale ale sub elementelor ,este absolut pentru ca a face overlay cy fundalul alb*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    z-index: 1;
}
/* setam hederul din sub element */
.dropdown-content .header {
    background-color:  rgba(100, 207, 29, 0.726);
    padding: 2px;
    color: white;
    position: relative;
  }
 
 /* cand trecem pe deasupra li facem visibil sub elementele */
  .dropdown:hover .dropdown-content{
      display: block;
      width:600px;
    
  }

/*aranjam coloanele la dreapta cu float */
.colum {
    float: left;
    width: 50%;
    background-color: rgba(166, 201, 143, 0.726);
    height:100%;
  }
  .colum h3{
      position: relative;
      top: -15px;
      border-bottom:10px solid black;
  }
 /* faptul ca folosim float left trebuie sa facem elementele block */
  .colum a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
   
  .colum a:hover {
    background-color: #ddd;
  }
 
.rand{
 
    /* cu aceste comenzi facem ca toate elementele rand sa fie aranjate ca o coloana si sa le centram */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: rgba(166, 201, 143, 0.726);
    
}
.rand h3{
    position: relative;
    top:-20px;
   
}  
.rand a{
  
    width:100%;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
   
}

.rand .element{
    border-top:4px dotted black;
    width: 100%;
}
.rand .element:hover{
    border-top:4px dotted rgb(255, 255, 255);
    background-color: #ddd;
    width: 100%;
}
.element{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.element input{
    border: none;
    border-radius: 30px;
    background-color: #bfda69;
    
}
.input_box{
   
    position: relative;
     /* cu display flex asa putem aranja obiecte vertical si orizontal */
     display: flex;
     /* asa o sa le aranjeze una sub alta sub forma de coloana */
     flex-direction: row;
     /* cu combinatia asta asta aranjam central elementele */
     align-items: center;
     justify-content: center;
     
}
.input_box >*{
   margin-left: 20px;
    font-size: 25px;
}
.input_box >.input__t{
    background-color: white;
     
 }
 .totalp{
    position:relative; 
    margin-left: 80px;
    margin-right: 50px;
    font-size: 25px;
    width: 150px;

}

.element a{
    margin-left: 20px;
}
.tab a{
    width:600px;
    border-top:4px dotted black;
    text-align: center;
    
}

.tab a:hover{
    background-color: #ddd;
}
/* paginare */

.paginare-bottom{
    display: flex;
    float: right;
    margin-right: 50px;

}
.paginare-lista{
    position: relative;
    background-color: rgb(96, 228, 103);
    display: inline-flex;
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.paginare-lista li{
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
    font-family: 'Redressed', cursive;
  
   
}
.paginare-lista li.p-number{
    width: 50px;
    text-align: center;
   
}
.paginare-lista li a{
    text-decoration: none;
    display: block;
    font-weight: bold;
    border-radius: 30px;
    color: rgb(241, 227, 227);
    font-size: 25px;
    transition: 0.25s;
}

.paginare-lista li.p-number:hover a,.paginare-lista li.p-number.active a{
    background-color: rgb(33, 182, 19);
}
.paginare-lista li:first-child{
    margin-right: 20px;
    font-size: 27px;
}
.paginare-lista li:last-child{
    margin-right: 20px;
    font-size: 27px;
}
.text,.icon{
    pointer-events: none;
}